body {
    margin-bottom: 10%;
}

#quiz {
    padding: 10px;
}

#question{
    padding: 35px;
    border-radius: 10px;
}

.option,
#imgQuestion {
    margin-bottom: 14px;
}

#next,
#quit {
    margin: 10px;
    padding: 10px;
    width: 20%;
    margin-top: 8px;
    margin-bottom: 8px;
}

#next {
    position: absolute;
    right: 20%;
}

#quit {
    margin-left: 20%;
}
