body {
    font-size: 18px;
    margin-bottom: 10%;
}

#quiz {
    padding: 10px;
}

#question,
#result {
    padding: 35px;
    border-radius: 10px;
    margin-bottom: 6%;
}

.option,
#imgQuestion {
    margin-bottom: 40px;
}

#next,
#quit {
    margin: 20px;
    padding: 10px;
    width: 20%;
    margin-top: 30px;
    margin-bottom: 30px;
}

#next {
    position: absolute;
    right: 20%;
}

#quit {
    margin-left: 20%;
}